a, button, div, .btn, input, select, textarea, i, p, span{
	
  &:focus {
	    outline: 0 none !important;
	    border-color: none;
	}
}



.btn-success-green {
  width: 300px;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 20px;
  text-align: left;
}

.btn-primary-grey {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 07px;
  width: 300px;
}

.block-top-grey {
  cursor:pointer;
  width: 100%;
  /*height: 100px;*/
  background-color: #f2f2f2;
  padding: 14px;
}

.left-panel-dyno {
  width: 340px;
  height: 644px;
  padding: 0;
  border-right:1px solid #cdcdcd;
}

.bottom-del-bord {
  border-bottom:0px solid red;
}

.navbar-default {
  border: 0px solid red;
  height: 32px;
}

.dropdown {
  margin-top: -7px;
}

.center-main-glow {
  margin-right:0px;
  height: 100%;
  padding-left: 100px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  /*
  overflow-y: scroll;
  height: 644px;
  */
}

.center-main-glow > div > .ng-scope > h1 {
  display:none;
}

.menu-ul-group {
  padding:10px;
}
.list-group-item:hover {
 cursor:pointer;
}









.loading {
  background-image: url('../img/loading.gif');
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

.map {
  background-image: url('../img/map.png');
  width: 100%;
  height: 644px;
  background-repeat: no-repeat;
  background-size: contain;
}

.map_small {
  background-image: url('../img/map_small.png');
  width: 300px;
  height: 242px;
  background-repeat: no-repeat;
  background-size: contain;
}

.photo {
  background-image: url('../img/photo.png');
  width: 400px;
  height: 159px;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn_close {
  background-image: url('../img/icon_close.png');
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn_edit {
  background-image: url('../img/icon_edit.png');
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn_add {
  background-image: url('../img/icon_add.png');
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.avatar {
  background-image: url('../img/avatar.png');
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}

.arrow_down {
  background-image: url('../img/arrow_down.png');
  width: 20px;
  height: 19px;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon_arrow_right {
  background-image: url('../img/icon_arrow_right.png');
  width: 13px;
  height: 31px;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon_arrow_down {
  background-image: url('../img/icon_arrow_down.png');
  width: 22px;
  height: 13px;
  background-repeat: no-repeat;
  background-size: contain;
}


.iso {
  background-image: url('../img/iso.png');
  width: 302px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #cdcdcd;
}


.front1 {
  background-image: url('../img/front1.png');
  width: 302px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #cdcdcd;
}

.bg_color_light_grey {
  background-color: #e2e2e2;
}

.bg_color_grey {
  background-color: #cacaca;
}

.bg_color_dark_grey {
  background-color: #989898;
}

.body {
  background-color: red;
}

.padding-left-35 {
  padding-left: 35px;
}

.map-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}