
<div class="row">
  <div class="col-xs-6">
    <form>
      <div class="form-group">
        <label>
          Enter a word
        </label>
        <input class="form-control" ng-model="word" />
      </div>
      <div class="form-group">
        <button class="btn btn-success" ng-click="hello()">Greet!</button>
      </div>
    </form>
  </div>
</div>